$rt-namespace: "athens-";
$offset: 2vmin;
$background: #181818;

.athens-container {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    font-size: 1.4vmin;
    inset: $offset;

    &.athens-bottom-left {
        bottom: 40vmin;
    }
}

.athens-toast {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    transition: all 230ms cubic-bezier(0.21, 1.02, 0.73, 1);
    --color: #82DFF0;

    &.athens-toast-success {
        --color: #56C568;
    }

    &.athens-toast-error {
        --color: #C55656;
    }

    &.athens-toast-warning {
        --color: #C5B356;
    }

    .toast-content {
        position: relative;
        background-color: rgb(0, 0, 0);
        min-width: 25vmin;
        padding: 1vmin 1.5vmin;
        border-radius: 0.8vmin;
        display: grid;
        gap: 1vmin;
        grid-template-columns: 2vmin auto;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, var(--color), transparent);
            opacity: 0.3;
            border-radius: 0.8vmin;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            translate: 0 -50%;
            width: .4vmin;
            height: 80%;
            background: var(--color);
            clip-path: polygon(0 0, 100% .25vmin, 100% calc(100% - .25vmin), 0% 100%);
        }

        .toast-icon {
            position: relative;
            align-self: flex-start;
            justify-content: center;
            min-width: 2vmin;
            display: flex;

            svg {
                margin-top: 1vmin;
                fill: white;
                width: 100%;
                height: 100%;
            }
        }

        .toast-info {
            position: relative;
            align-self: center;

            .toast-title, .toast-title * {
                font-size: 1.4vmin;
                font-weight: bold;
            }

            .toast-description, .toast-description * {
                font-size: 1.15vmin;
            }
        }
    }
}

.pile-image {
    position: relative;
    width: 12.8vmin;
    height: auto;

    img {
        width: 100%;
        border-radius: .8vmin;
    }
}

.toast-item-list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0.5vmin;

    .item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: -.5vmin;

        &.success {
            --item-color: #56C568;
        }

        &.error {
            --item-color: #C55656;
        }

        &.warning {
            --item-color: #C5B356;
        }

        .text {
            font-size: 1vmin;

            span {
                font-size: 1vmin;
            }
        }

        .icon {
            position: relative;
            width: 1.2vmin;
            margin-right: 0.2vmin;

            &::after {
                content: '';
                position: absolute;
                left: 20%;
                top: 50%;
                translate: 0 -50%;
                width: 40%;
                height: 30%;
                background-color: white;
                z-index: -1;
                border-radius: 10vmin;
            }

            svg {
                width: 80%;
                height: 80%;
                fill: var(--item-color);
            }
        }
    }
}

kbd {
    padding: 0 .75vmin;
    font-weight: bold;
    color: #1f1f1f;
    background-color: white;
    border-radius: .25vmin;
    font-size: .8vmin;
}

.item-image {
    position: relative;
    margin: 0 auto;
    flex: 0 0 3vmin;
    height: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lighten($background, 5%);
    border-radius: 10vmin;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 80%;
        border-radius: 10vmin;
    }
}

@import "animation";
